---
- name: INSTALL | Tmux
  tags:
  - install
  block:
  - name: INSTALL | Ensure tmux package is installed
    become: True
    ansible.builtin.package:
      name: tmux
      state: present

  - name: INSTALL | Ensure tmux config directory exists
    ansible.builtin.file:
      path: "{{ tmux_config_dir }}"
      state: directory

  - name: INSTALL | Ensure tmux config exists
    changed_when: False
    ansible.builtin.file:
      path: "{{ tmux_config }}"
      state: touch

  - name: INSTALL | Ensure tmux share directory exists
    ansible.builtin.file:
      path: "{{ tmux_share_dir }}"
      state: directory

  - name: INSTALL | Ensure tmux completion script exists
    ansible.builtin.get_url:
      url: https://raw.githubusercontent.com/imomaliev/tmux-bash-completion/master/completions/tmux
      dest: "{{ tmux_share_dir }}/completion"
      mode: '0755'
      force: False

  - name: INSTALL | Ensure tmux completion gets sourced in bashrc
    ansible.builtin.blockinfile:
      path: "{{ bashrc }}"
      append_newline: True
      prepend_newline: True
      marker: "# {mark} tmux completion"
      block: |
        source {{ tmux_share_dir }}/completion
    when: ansible_user_shell == "/bin/bash"


- name: CONFIGURE | Tmux
  tags:
  - configure
  block:
  - name: CONFIGURE | Unbind default prefix key and rebind new one
    ansible.builtin.blockinfile:
      path: "{{ tmux_config }}"
      append_newline: True
      prepend_newline: True
      insertbefore: "BOF"
      marker: "# {mark} Unbind default prefix key and rebind new one"
      block: |
        unbind C-b
        set -g prefix C-t

  - name: CONFIGURE | Enable mouse support
    ansible.builtin.blockinfile:
      path: "{{ tmux_config }}"
      append_newline: True
      prepend_newline: True
      marker: "# {mark} Enable mouse support"
      block: |
        set -g mouse on

  - name: CONFIGURE | Rebind horizontal split-window key
    ansible.builtin.blockinfile:
      path: "{{ tmux_config }}"
      append_newline: True
      prepend_newline: True
      marker: "# {mark} Rebind horizontal split-window key"
      block: |
        unbind '"'
        bind-key C-v split-window -v -c "#{pane_current_path}"

  - name: CONFIGURE | Rebind vertical split-window key
    ansible.builtin.blockinfile:
      path: "{{ tmux_config }}"
      append_newline: True
      prepend_newline: True
      marker: "# {mark} Rebind vertical split-window key"
      block: |
        unbind %
        bind-key C-b split-window -h -c "#{pane_current_path}"

  - name: CONFIGURE | Ensure host displays user@hostname in status-bar
    ansible.builtin.blockinfile:
      path: "{{ shell.rc }}"
      append_newline: True
      prepend_newline: True
      marker: "# {mark} Display user@hostname in status-bar"
      block: |
        printf '\033]0;%s\007' "$USER@$HOSTNAME"

  - name: CONFIGURE | Ensure pane kill confirmation is removed
    ansible.builtin.blockinfile:
      path: "{{ tmux_config }}"
      append_newline: True
      prepend_newline: True
      marker: "# {mark} Remove confirmation for kill confirmation"
      block: |
        bind-key C-x kill-pane

